* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Roboto Mono', monospace;
}

body {
  color: #303131;
}
h1 {
  margin-bottom: 40px;
  font-size: 70px;
  text-align: center;
}

a{
  color: #303131;
  text-decoration: none;
  transition: color 1s;
}

a:hover{
  color: #EA8000;
}

/* PALETTE */

/* color: #EA8000; ORANGE*/
/* color: #8b98a7; LIGHT GREY  */
/* color: #303131; DARK GREY */


/* mix */
.flex{
  display: flex;
}

.list-inline{
 display: flex;
 list-style: none;
 }

/* containers */
.container {
  max-width: 1070px;
  margin: auto;
}

.container_small {
  max-width: 50%;
  margin: auto;
}

.btn{
  padding: 10px 40px;
  background: #303131;
  border: 0;
  cursor: pointer;
  transition: background 0.5s;
}
.btn:hover{
  background: #EA8000;
}



/* JUMBOTRON */

.jumbo {
  width: 100%;
  height: 800px;
}

.jumbo_wrapper_img{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/architecture-street-window-building-old-city-499998-pxhere.com.jpg);
  filter: grayscale();
}

.jumbo_layover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.jumbo_wrapper_txt{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.jumbo_wrapper_txt .list-inline {
  width: 50%;
  justify-content: space-around;
}


.jumbo_wrapper_txt ul li a{
  font-size: 30px;
  color: #fff;
}
.jumbo_wrapper_txt ul li a:hover{
  color: #EA8000;
}


.logo_icon i {
  font-size: 60px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  padding: 20px;
  margin: 30px 0 30px 0;
}

.jumbo_subtitle{
  font-size: 22px;
  margin-top: 30px;
}

/* #PROJECTS */

#projects .container {
  padding: 60px;
  background-color: #fff;
}

.container_projects{
  display: flex;
  max-width: 1070px;
  margin: auto;
}

.col-4{
  width: 100%;
}

.n_list_style {
  list-style: none;
}

.project_img_list{
  display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-around;
   max-height: 1900px;
}

.project_img_list li{
  position: relative;
  width: calc((100% / 3) - 30px);
  margin-bottom: 50px;
  overflow: hidden;
  cursor: pointer;
}

.project_img_list img{
  width: 100%;
  transition: all 0.5s;
}

.img_layout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20px;
  transition: all 0.5s;
}

.project_img_list li:hover .img_layout{
  display: block;
  background-color: rgba(47, 49, 49, 0.8);

}
.project_img_list li:hover img{
  transform: scale(1.1);
}

/* #ABOUT */

#about {
  padding: 60px;
  margin-top: 300px;
  background-color: rgba(255, 255, 255, 0.2);
}

#about h1, p {
  color: #fff;
}

#about p {
  width: 90%;
  margin: auto;
  text-align: center;
}

/* #CONTACT */

#contact {
  margin-top: 300px;
  padding-top: 60px;
  background-color: #fff;
}

#contact label {
  display: block;
  padding: 15px 0;
}

#contact textarea, #contact input {
  font-size: 16px;
  color: #EA8000;
}

#contact input {
  width: 100%;
  height: 30px;
}

#contact textarea {
  width: 100%;
}
#contact .button_line{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



/* SOCIAL */

.social_logos ul{
  padding: 40px 0;
  justify-content: center;
}
.social_logos li{
  width: 40px;
  text-align: center;
}
.social_logos li a i{
  font-size: 24px;
}

/* FOOTER */

footer {
  height: 80px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
  font-size: 12px;
  line-height: 80px;
}

/* MEDIA QUERY */

@media screen and (max-width: 767px){
  .project_img_list li{
    width: calc(100% - 30px);

  }
  .project_img_list{
     max-height: none;
  }
}
