/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

/* PALETTE */

/* color: #EA8000; ORANGE*/
/* color: #8b98a7; LIGHT GREY  */
/* color: #303131; DARK GREY */

.dark-grey{
    color: #303131;
}
.gold{
    color: #EA8000;
}
.white{
    color: #fff;
}

/* COMMON FEATURES */
.list-inline{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
}

.title-section{
    font-size: 6rem;
    text-align: center;
}
.margin_bt_100{
    margin-bottom: 100px;
}

.align-centr{
    text-align: center;
}

/* BUTTON */
.btn{
    padding: 10px 40px;
    background: #303131;
    border: 0;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}
.btn:hover{
    background: #EA8000;
}
  

/* COMMONS SECTIONS */

.container-100{
    max-width: 100%;
}
.container-80{
    width: 80%;
    margin: auto;
}
.container_small {
    max-width: 50%;
    margin: auto;
}

#jumbo-wall{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background-image: url(../img/jumbo-wall.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale() brightness(0.6);
}

/* PAGE HEADER */

#page-header{
    display: flex;
    width: 100%;
    height: 100vh;
}
.page-header-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

/* LOGO */
.logo-wrapper{
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background-color: #000;
}
.logo-text{
    color: #fff;
    transition: 1s;
}
.logo-wrapper:hover .logo-text{
    color:  #EA8000;
}

/* indexes list */
.indexes-list{
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}
.indexes-list li{
    width: calc((100% / 3) - 30px);
    text-align: center;
}
.indexes-list li a{
    font-size: 30px;
    color: #fff;
    transition: 1s;
}
.indexes-list li a:hover{
color: #EA8000;
}

/* subtitle */
.page-header-subtitle{
    background-color: #000;
    color: #fff;
    padding: 2px;
}


/* PROJECTS */
.project-container{
    background-color: #fff;
    min-height: 400px;
}

/* ABOUT */
#about{
    padding: 60px;
    margin: 200px 0;
    background-color: rgba(255, 255, 255, 0.2);
}

/* #CONTACT */

#contact {
  padding: 60px 0;
  background-color: #fff;
}

#contact label {
  display: block;
  padding: 15px 0;
}

#contact textarea, #contact input {
  font-size: 16px;
  color: #EA8000;
}

#contact input {
  width: 100%;
  height: 30px;
}

#contact textarea {
  width: 100%;
}
#contact .button_line{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}



/* SOCIAL */

.git-hub-logo{
    color: #fff;
    font-size: 14px;
}
.git-hub-logo:hover{
    color: green;
}

/* EMAIL */
#email{
    transition: 1s;
}
#email:hover{
    color: #EA8000;
}

/* FOOTER */

footer {
  height: 80px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
  font-size: 12px;
  line-height: 80px;
}
