* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }

.container_projects{
  display: flex;
  max-width: 1070px;
  margin: auto;
}

.col-4{
  /* width: calc((100% / 12) * 4);
  padding: 0 15px; */
  width: 100%;
}

.n_list_style {
  list-style: none;
}

.project_img_list{
  display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: space-around;
   max-height: 1900px;
}

.project_img_list li{
  position: relative;
  width: calc((100% / 3) - 30px);
  margin-bottom: 50px;
  overflow: hidden;
  cursor: pointer;
}

.project_img_list img{
  width: 100%;
  transition: all 0.5s;
}

.img_layout {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 20px;
  transition: all 0.5s;
}

.project_img_list li:hover .img_layout{
  display: block;
  background-color: rgba(47, 49, 49, 0.8);

}
.project_img_list li:hover img{
  transform: scale(1.1);

}
